@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

/* ===== THEME ===== */

@theme {
  --color-background: #1c1c22;
  --color-foreground: #ffffff;

  --color-accent: #009ddd;
  --color-primary: #00002b;
  --color-primary-hover: #009ddd;

  --radius: 0.625rem;
}

/* ===== BASE ===== */

@layer base {
  body {

    background: var(--color-background);
    color: var(--color-foreground);
    @apply leading-loose antialiased;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold; 
  }
   .h2 {
    @apply text-[36px] xl:text-[80px] leading-[1.1] font-semibold; 
  }
   .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold; 
  }
  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }
  
}
  .text-outline-hover {
    -webkit-text-stroke: 1px #009ddd;
  }
  
  .group:hover .text-outline {
    -webkit-text-stroke: 1px #009ddd;
   }

