@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

/* ===== THEME ===== */

@theme {
  --color-background: #1c1c22;
  --color-foreground: #ffffff;

  --color-accent: #00ff99;
  --color-primary: #00002b;
  --color-primary-hover: #00e187;

  --radius: 0.625rem;
}

/* ===== BASE ===== */

@layer base {
  body {
    background: var(--color-background);
    color: var(--color-foreground);
    @apply leading-loose antialiased;
  }
}